version: '3.5'

services:
    # VOSK / Kaldi container
    vosk-hsb-whisper:
        image: vosk_server_whisper:latest
        privileged: true
        restart: unless-stopped
        environment:
            - VOSK_SAMPLE_RATE
            - VOSK_LOG_AUDIO
            - MODEL_PATH_FULL
        volumes:
            - ./logs:/logs
            - ./whisper:/whisper
